*{
	margin: 0;
}

header{
	margin: auto;
	background-color: #88001b;
	width: : 1050px;
	padding: 70px 30px;
}

.menu{
	float: right;
	margin-top:-3px;
}

.menu li{
	list-style: none;
	display: inline-block;
	background-color: #88001b;
    color: #fff;
    width: 165px;
}


.menu a{
	text-decoration: none;
	color: #ffffff;
	padding-right: 10px;
}

.menu a:hover{
	text-decoration: underline;
	color:  #a2c3c3;
}

.logo{
	float: left;
	color: white;
	font-family: cursive;
	margin-left: 10px;
    margin-top: -14px;
}

.content{
	float: center;
	height: 350px;
	width: 350px;
}

.content img{
	width: 300%;
	height: 289px;
	margin-left: 146px;
    margin-top: 46px;
}

section{
	margin: auto;
	background-color: white;
	height: 1000px;
	
}

.container h2{
	color:#88001b;
	font-family: cursive;
	text-align: center;
	padding-top: 57px;
}

.container p{
	color: #88001b;
	font-family: cursive;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}

.bloque{
	width: 200px;
	height: 300px;
	display: inline-block;
	margin-left: 50px;
	margin: 0px;
}
.img{
	width: 100px;
	border-radius: 50%
}

.bloque h2{
	color:#88001b;
	font-family: cursive;	
}

.img a{
	text-decoration: none;
}

.productos{
	margin-left: 300px;
	margin-top: 57px;
	width: 100%;
	height: 300px;

}
.productos li{

	display: initial;
	list-style: none;
	margin: auto;
	padding-left: 88px;
	height: 300px;
	text-align: center;

}
.productos ul li img{
	width: 10%;
	border-radius: 50%;
	text-align: center;

}
.productos a{
	color: black;
	padding-top: 10px; 	
	text-align: center;
	text-decoration: none;
}
.productos a:hover{
	text-decoration: underline;
	color: #88001b;
}

.juegos img{
	padding-top: 57px;
	width: 136px;
    border-radius: 34%;
	text-align: center;
}

.texto h2{
	color: #88001b;
	padding-top: -30px;
	font-family: cursive;
}

.texto1 h2{
	padding-top: -30px;
	color: #88001b;
	padding-top: -30px;
	font-family: cursive;
}

.menu i{
	color: #ffffff;
}

footer{
	margin-top: 530px;
    width: 95%;
    height: 168%;
    background-color: #88001b;
    padding: 32px;
}

.redes i{
	color:  #ffffff;
}

.redes li{
	list-style: none;
    text-decoration: none;
    float: right;
    margin-right: 332px;
    font-size: 31px;
}

.redes i:hover{
	color:  #a2c3c3;
}

.boton button {
	color: #ffffff;
	background-color: #88001b;
	float: left;
    margin: auto;
   	margin-left: 407px;
    margin-top: -132px;
    padding: 10px; 
}

.boton button:hover{
	color: #a2c3c3;
}

.boton1 button {
	color: #ffffff;
	background-color: #88001b;
	float: right;
    margin: auto;
   margin-right: 445px;
    margin-top: -132px;
    padding: 10px;
}

.boton1 button:hover{
	color: #a2c3c3;
}

nav ul{
	list-style: none;
}

.nav > li{
	float: left;
}

.nav li a{
	background-color: #88001b;
	color: #ffffff;
	text-decoration: none;
	padding: 10px 25px;
	display: block;
}

.nav > li:hover{
	text-decoration: underline;
}

.nav li ul{
	display: none;
	position: absolute;
	width: 130px;
	text-align: left;
	padding-left: 10px;
}
.des > li:hover{
	text-decoration: underline;
}

.nav li i{
	color: white;
	position: absolute;
	z-index: 4;
	margin-left: 9px;
	margin-top: 10px;
	min-width: 100px;
}
.nav li:hover > ul {
	display: block;
	position: absolute;z-index: 2;
	margin-left: 0px;
	min-width: 100px;
}

